
* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-color: skyblue;
}


.img-gallery {
    width: 90%; /*width of screen set to 90%*/
    margin: 25px auto 50px; /*Top margin is 100px, left and right are automatically adjusted and bottom is 50px */
    display: grid; /*Createsa grid layout*/
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); 
    grid-gap: 20px; /* defines grid gap of 30px */

}

.img-gallery img {
    width: 100%;
    cursor: pointer; /*adds finger pointer of=ver gallery images*/
}

section.scroll-container {
    background-color: #333;
    overflow: auto;
    white-space: nowrap;
    display: flex;
}
  
  .container {
    position: relative;
    width: 50%;
    height:100%; 
    max-width: 200px;
    padding: 0%;
    
  }
  
  .image {
    display: block;
    width: 100%;
    height: auto;
    
  }
  
  .overlay {
    position: absolute; 
    bottom: 0; 
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.5);  /* Black see-through */
    color: #f1f1f1; 
    width: 100%;
    transition: .5s ease; 
    opacity:0;
    color: white;
    font-size: 20px;
    padding: 20px;
    text-align: center;
  }

  .image:hover {
    opacity: 0.5;
   
  }

  .container:hover .overlay {
    opacity: 1;
  }

  .container i {
    border-radius: 50%;
    border: solid;
    border-color: white;
    font-size: 30px;
    background-color: #333;
    text-align: center;

  }

  .delete-movie {
    margin-left: 30px;
  }

  .play-movie {
    margin-right: 30px;
  }

#search-form {
    border-radius: 5px;
    margin: 2rem;
    padding: 1rem;
    font-size: xx-large;
    font-family: monospace;

}

 a {

    color: #FFFFFF;
  text-decoration: none;
} 




